@using ProgrammersBlog.Mvc.Extensions;
@model ProgrammersBlog.Mvc.Models.RightSideBarViewModel
<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header" style="font-family:Tahoma;">Arama</h5>
        <div class="card-body">
            <form asp-controller="Article" asp-action="Search" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="Aramak istediğiniz anahtar kelime...">
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="submit">Ara!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- Categories Widget -->
   @* <div class="card my-4">
        <h5 class="card-header" style="font-family:Tahoma;">Rastgele Makale!</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a asp-controller="Home" asp-action="GetRandom" class="btn btn-block btn-outline-success">Şansına Göre Makaleler!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header" style="font-family:Tahoma;">Kategoriler</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="btn btn-toolbar btn-outline-primary" asp-controller="Home" asp-action="Index">Hepsi</a>
                        </li>
                        @foreach (var category in Model.Categories)
                        {
                            <li class="list-group-item">
                                <a class="btn btn-toolbar btn-outline-primary" asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header" style="font-family:Tahoma;">En Çok Okunan Makaleler</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group">
                        @for (int i = 0; i < Model.Articles.Count; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <li class="list-group-item list-group-item-primary">
                                    @*asp-controller="Article" asp-action="Detail" asp-route-articleId="@Model.ArticleListDto.Articles[i].Id"*@
                                     <a href="/@Url.FriendlyUrlHelper(Model.Articles[i].Title)/@Model.Articles[i].Id">@Model.Articles[i].Title</a>
                                    @*<a asp-controller="Article" asp-action="Detail" asp-route-articleId="@Model.Articles[i].Id">@Model.Articles[i].Title</a>*@
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item list-group-item-info">
                                    @*<a asp-controller="Article" asp-action="Detail" asp-route-articleId="@Model.Articles[i].Id">@Model.Articles[i].Title</a>*@
                                    <a href="/@Url.FriendlyUrlHelper(Model.Articles[i].Title)/@Model.Articles[i].Id">@Model.Articles[i].Title</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
