@using System.Text.RegularExpressions
@using ProgrammersBlog.Mvc.Extensions;
@model ProgrammersBlog.Entities.Dtos.ArticleListDto
@{
    ViewBag.Title = "Anasayfa";
    Layout = "_ArticleLayout";
    Regex regex = new Regex("<[^>]*>");
}
@{
    ViewBag.Title = "Anasayfa";
    Layout = "_ArticleLayout";

}

<div class="col-md-12 d-flex justify-content-center mb-4 mt-4">
    <h1 class="text-body"><span>Şansını Dene ve Makaleleri <strong style="color:#0f2428;">Karıştır</strong></span></h1>
</div>
<div class="jumbotron col-md-12">
   
        <div class="row">
        @foreach (var article in Model.Articles.OrderBy(x => Guid.NewGuid()).Take(3).ToList())
        {
            <div class="col-md-4">
                <!-- Blog Post -->
                <div class="card mb-4" style="max-height:100%;">
                    <img class="card-img-top" src="~/img/@article.Thumbnail" style="height:275px;" alt="@article.Title">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family:Tahoma">@(article.Title.Length > 18 ? article.Title.Substring(0,16) : article.Title)</h2>
                        <p class="card-text">
                            
                            @{
                                article.Content = regex.Replace(article.Content, "");
                            }
                            @(article.Content.Length > 250 ? article.Content.Substring(0, 200) : article.Content)
                        </p>
                        <a href="/@Url.FriendlyUrlHelper(article.Title)/@article.Id" class="btn btn-primary">Devamını oku &rarr;</a>                      
                    </div>
                    <div class="card-footer text-muted">
                        @article.User.UserName tarafından @article.CreatedDate tarihinde paylaşıldı.
                    </div>
                </div>
            </div>
        }
        </div>
    <div class="col-md-12 d-flex justify-content-center mb-4">

        <a href="" class="btn btn-primary btn-lg"><i class="fas fa-random" style="margin-right: 0.5em;"></i><strong style="color:#ffffff">Karıştır</strong></a>

    </div>
</div>
